# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
new_venv/

# Ignore OS-specific files
.DS_Store

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore model files
model_05.keras
model_05.zip
